version: "3.9"

services:
  db:
    image: postgres:15
    container_name: todo_db
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: todo_backend
    restart: always
    command: >
      sh -c "
      python manage.py migrate &&
      python manage.py runserver 0.0.0.0:8000
      "
    volumes:
      - ./backend:/app
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "8000:8000"

  redis:
    image: redis:7
    depends_on:
      - backend
    ports:
      - "6379:6379"
  
  celery:
    build: ./backend
    command: celery -A config worker -l info
    volumes:
      - ./backend:/app
    depends_on:
      - redis
      - backend

  bot:
    build: ./bot
    container_name: todo_bot
    restart: always
    command: python main.py
    volumes:
      - ./bot:/app
    env_file:
      - .env
    depends_on:
      - backend

volumes:
  postgres_data:
